<div class="container" [@openClose]="!isShown ? 'open' : 'closed'">

  <h1>Formula 1 World Champions </h1>
  <div class="row mt-5 mb-5">
    <div class="col-12 col-lg-3 " (click)="toggleShow()"  *ngFor="let champion of worldChampions.MRData.StandingsTable.StandingsLists">
      <div class="champions__card champions__card--wrapper" (click)="getWinnersOfSelectedYear(champion.season, champion.DriverStandings[0].Driver.driverId)">
        <img src="../assets/{{champion.DriverStandings[0].Constructors[0].constructorId}}.png" alt="Fernando">
        <div class="champions__card--copy">
          <h4>World champions of {{champion.season}}</h4>
          <small class="champions__card--copy-bold">{{champion.DriverStandings[0].Driver.givenName}} {{champion.DriverStandings[0].Driver.familyName}}</small>
          <small> is the champion of </small>
          <small class="champions__card--copy-bold">{{champion.season}}</small>
          <small> season along side</small>
          <small class="champions__card--copy-bold"> {{champion.DriverStandings[0].Constructors[0].name}} </small>
          <small> constructor </small>
          <a href="#">
            <button class="champions__button">Read More</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="isShown" [@openClose]="isShown ? 'open' : 'closed'">
  <h1>Formula 1 {{selectedYear}} Season winners </h1>
  <div class="champions__button--wrapper">
    <button (click)="toggleShow()" class="champions__button">Back</button>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-3">
        <h2>Avatar</h2>
      </div>
      <div class="col-3">
        <h2>Racer name</h2>
      </div>
      <div class="col-3">
        <h2>Constructor</h2>
      </div>
      <div class="col-3">
        <h2>Race name</h2>
      </div>
    </div>
    <div class="row champions__races" *ngFor="let winner of winnersOfTheYear.MRData.RaceTable.Races" [ngClass]="{'champions__seasonWinner': seasonWinnerId === winner.Results[0].Driver.driverId}">
      <div class="col-3">
        <img class="champions__avatar" src="../assets/drivers/{{winner.Results[0].Driver.driverId}}.png"  alt="">
      </div>
      <div class="col-3">{{winner.Results[0].Driver.familyName}} {{winner.Results[0].Driver.givenName}}</div>
      <div class="col-3">{{winner.Results[0].Constructor.name}}</div>
      <div class="col-3">{{winner.raceName}}</div>
    </div>
  </div>
</div>

<!--Place holders while waiting for API response-->
<!--<div class="ph-item">
  <div class="ph-col-12">
    <div class="ph-picture"></div>
    <div class="ph-row">
      <div class="ph-col-6 big"></div>
      <div class="ph-col-4 empty big"></div>
      <div class="ph-col-2 big"></div>
      <div class="ph-col-4"></div>
      <div class="ph-col-8 empty"></div>
      <div class="ph-col-6"></div>
      <div class="ph-col-6 empty"></div>
      <div class="ph-col-12"></div>
    </div>
  </div>
</div>-->
